<div class="container">

  <div class="page-header"><h1>Incidencias</h1></div>
   
  <div class="well">
		<form role="form" ng-submit="create(incidencia)">
			  <fieldset class="form-group col-sm-12">
				<label for="resumen">Resumen</label>
				<textarea class="form-control" id="resumen" rows="" ng-model="incidencia.resumen" required="true" placeholder="Nombre de la incidencia"></textarea>
			  </fieldset>
			  <fieldset class="form-group col-sm-12">
				<label for="descripcion">Descripción</label>
				<textarea class="form-control" id="descripcion" rows="" ng-model="incidencia.descripcion" required="true" placeholder="Cual es el problema?"></textarea>
			  </fieldset>
			  <fieldset class="form-group col-sm-12">
				<label for="importancia">Nivel de importancia</label>
				<select class="form-control id="importancia" ng-model="incidencia.importancia" ng-options="importancia for importancia in importancias">
					  <option value="">-- selecciona la importancia --</option>
				</select>
			  </fieldset>			  
			  <button type="submit" class="btn btn-success">Crear</button>
		</form>
  </div>
     
     
  <input ng-show="incidencias.length>0" ng-model="query" type="text" placeholder="Escribe para filtrar..." />

  <!--Uso una directiva a modo de ejemplo, como si se tratase de un componente-->
  <div listadoincidencias></div>
  
</div>