<div class="table-responsive"> 
	  <table class="table table-striped small">
		<thead>
			<tr>
				<th class="hidden-xs hidden-sm col-md-1">Id</th>
				<th class="col-sm-5 col-md-4">Resumen</th>
				<th class="col-sm-2">Fecha</th>
				<th class="col-sm-1">Importancia</th>
				<th class="col-sm-1">Estado</th>
				<th class="col-md-1">Usuario</th>
				<th class="col-sm-2">Opciones</th>
			</tr>
		</thead>
		<tbody>
		   <tr ng-repeat="incidencia in incidencias | filter:query | orderBy:'-fechaCreacion'">
			   <td class="hidden-xs hidden-sm col-md-1">
				  <span ng-bind="incidencia.id">{{query}}
			   </td>
			   <td class="col-sm-5 col-md-4">
				   <span ng-bind="incidencia.resumen">
			   </td>
			   <td class="col-sm-2">
				   <span ng-bind="incidencia.fechaCreacion">
			   </td>  
			   <td class="col-sm-1">
				   <span ng-bind="incidencia.importancia">
			   </td>
			   <td class="col-sm-1">
				   <span ng-bind="incidencia.estado">
			   </td>		   
			   <td class="col-md-1">
				  <span ng-bind="incidencia.usuario">
			   </td>      
				<td class="input-group-btn col-sm-2">
					<a class="btn btn-info btn-xs" ng-href="#/modificar/{{incidencia.id}}"><span class="glyphicon glyphicon-pencil"></span></button>
					<a class="btn btn-warning btn-xs" ng-href="#/historia/{{incidencia.id}}"><span class="glyphicon glyphicon-th-list"></span></button>
				</td>				
		   </tr>
			<tbody>
		</table>
  </div>